@font-face {
  font-family: "hw-r";
  src: url("../public/fonts/HuaweiSans-Regular.ttf");
}
@font-face {
  font-family: "hw-b";
  src: url("../public/fonts/HuaweiSans-Bold.ttf");
}

html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
}
body {
  font-family: "hw-r";
}
body::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #d2d2d2;
  border-radius: 5px;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #eeeeee;
}
